body {
    background-image: url("../images/background.png")
}

.answerButton {
    display: none;
}

.header{
    padding: 5%;
}

.btn-warning {
    background-color: orange;
    font-weight: bold
}

.jumbotron{
    background-color: lightskyblue;
    box-shadow: 3px 5px 5px gray;
}

p {
    font-weight: bold;
}

.lead {
    font-weight: bolder;
}

.btn-success {
    height: 100px;
    width: 200px;
    font-size: 20pt;
}

.btn {
    box-shadow: 3px 5px 5px rgb(79, 102, 110)
}
